*{
    padding:0%;
    margin:0%;
    box-sizing: border-box;
}
.banner{
    display: flex;
    margin-top: 100px;
}
.links{
    margin-left: 300px;
}
h1{
    margin-left: 300px;
}
.intro{
    text-align: center;
    margin-top: 250px;
    margin-bottom: 400px;
}
.center{
    text-align: center;
}
.new{
    margin-bottom: 700px;
}
.service{
    display: flex;
    margin-top: 70px;

}
.general{
    text-align: center;
    margin-left: 50px;
}
.position{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 16px;
}
.top{
    background-color: black;
    height: 70px;
}
h6{
    margin-left: 750px;
    color: white;
    position: fixed;
    margin-top:50px;
    font-size: 13px;
}
.fitting{
    text-align: center;
    font-size: 16px;
}